/* Repeated style section */
* {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

.btn-primary {
  border-radius: 8px;
  background: #e55473;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  padding: 12px 20px;
  margin: 0px;
}
/* Header style. */
.header {
  display: flex;
  background-color: #e554731a;
}
.header-title {
  margin: 197px 97px 32px 240px;
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  width: 708px;
}

.header-img {
  width: 635px;
  height: 800px;
  margin: 50px 240px 0px 1045px;
}
.header-container {
  display: flex;
  flex-direction: column;
  margin: 240px;
}
.header-details {
  color: #27272799;
  width: 634px;
  font-size: 18px;
}


/* (Bonous) Our featured flower style */




/* <Hot deal style*/
.deal {
  width: 1922px;
height: 620px;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
display: flex;
justify-content: center;
align-items: center;


}
.deal-img{
  width: 318px;
height: 420px;
}




/* Instagram Section */
.instagram {
  
}
.instagram-img {
  display: flex;
  justify-content: center;
  list-style: none;
}
.insta-img{
  width: 200px;
  height: 300px;
}

/* Get the latest style */
.get-container {
  width: 1440px;
height: 449px;
background-image: url('./flower Asset/Rectangle\ 9.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
  align-items: center;
  text-align: center;
  
}
.get-info {
  
}

/* Footer Section style */
.flowershop {
  background: #111010;
  color: white;
  width: 1922px;
  height: 449px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.flowershop-title {
  font-size: 48px;
  font-weight: 800;
  height: 58px;
  width: 259px
/* margin: 128px 832px 24px 831px; */
}
.flowershop-title > span {
  color: #e55473;
 
}
.flowershop-details {
  
}
